! {{ method }}{% if basis is defined and basis %} {{ basis }}{% endif %} {{ flags | join(' ') }} {{ restart_flags | join(' ') }}

{# --- Maxcore: always present, default 2000 MB --- #}
%maxcore {{ 2000 if maxcore_mb is none else maxcore_mb }}

{% if pal is defined%}
%pal
nprocs {{ pal }}
end
{% endif %}

{% if scf is defined and scf %}
%scf
{% for key, val in scf.items() %}
  {{ key }} {{ val }}
{% endfor %}
end
{% endif %}

{% if cpcm %}
%cpcm
  epsilon {{ cpcm.epsilon }}
  {% if cpcm.refrac %} refrac {{ cpcm.refrac }} {% endif %}
end
{% endif %}

* xyz {{ charge }} {{ mult }}
{{ geom_lines | join("\n") }}
*
